<div class="project-details">
    <h1 class="titulo">{{ proyecto.titulo }}</h1>
    <h5 *ngIf="proyecto.mapas && proyecto.mapas.length > 0" class="subtitulo">{{ getProvincia(proyecto.mapas[0].lugar) }}</h5>
    
    <div class="details-grid">
        <div class="image-container">
            <img [src]="proyecto.portada" alt="Imagen del proyecto">
        </div>           

        <div class="details-column">
            <h3 class="titulodetalle">Detalles del Proyecto</h3>
            <div class="distanciaDetalle">
                <p><strong>Fecha Inicio:</strong> {{ proyecto.fechaInicio | date:'dd' }} de {{ proyecto.fechaInicio | date:'MMMM' }} del {{ proyecto.fechaInicio | date:'y' }}</p>
<p><strong>Fecha Fin:</strong> {{ proyecto.fechaFin | date:'dd' }} de {{ proyecto.fechaFin | date:'MMMM' }} del {{ proyecto.fechaFin | date:'y' }}</p>

                <p><i class="fas fa-dollar-sign"></i><span> Presupuesto:</span> {{ proyecto.presupuesto }}</p>
                <p><i class="fas fa-hand-holding-usd"></i><span> Recolectado:</span> {{ proyecto.recolectado }}</p>
            </div>
        </div>
    </div>

    <div class="objetivos">
      
    </div>

    <div class="text-container">
        <p><strong>Objetivo principal:</strong> {{ proyecto.objetivoPrincipal }}</p>
        <p><strong>Objetivos Secundarios:</strong></p>
        <ul>
            <li *ngFor="let objetivo of proyecto.objetivosSecundarios">{{ objetivo }}</li>
        </ul>
        <p>{{ proyecto.parrafoUno }}</p>
        <p>{{ proyecto.parrafoDos }}</p>
        <p>{{ proyecto.parrafoTres }}</p>
    </div>
    <h4 class="map-label">UBICACIÓN</h4>
    <div class="map-wrapper">
        <div #mapContainer class="map-container"></div>
    </div>
    <span class="add-button">
        <button class="add-project-button" (click)="proyecto._id && abrirRegistrodeactividad(proyecto._id)">Añadir Actividad</button>
    </span>
</div>
