<body>
    <div class="wrapper">
        <form [formGroup]="formLogIn" (ngSubmit)="logIn()">
            <h1>Login</h1>
            <div class="form-group">
                <label for="username">Email</label>
                <input type="text" class="form-control" formControlName="username" placeholder="Correo"
                    [class.is-invalid]="isInvalidForm('username')">
                <i class='bx bxs-user'></i>
                <small *ngIf="isInvalidForm('username')" class="text-danger">Ingresa un email</small>
            </div>
            <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="text" class="form-control" formControlName="password" placeholder="Contraseña"
                    [class.is-invalid]="isInvalidForm('password')">
                <i class='bx bxs-lock-alt'></i>
                <small *ngIf="isInvalidForm('password')" class="text-danger">Ingresa una contraseña</small>
            </div>

            <button type="submit" class="btn">Login</button>

            <div class="login-google">
                <div class="register-link">
                    <p>¿No puedes ingresar a tu cuenta?
                        <a href="#">registrate</a>
                    </p>
                </div>
                <div class="element__1">
                    ó
                </div>
                <br>
                <div class="element__2">
                    <div id="buttonDiv"></div>
                </div>
                <div id="g_id_onload"
                    data-client_id="713010332294-6d3e25kg62qlkha8lcqne687un71dt6l.apps.googleusercontent.com"
                    data-context="use" data-ux_mode="popup" data-itp_support="true"
                    data-callback="handleCredentialResponse">
                </div>

                <div class="g_id_signin" data-type="standard" data-shape="pill" data-theme="filled_black"
                    data-text="continue_with" data-size="large" data-logo_alignment="left">
                </div>
            </div>
        </form>

    </div>
</body>