<main class="container">
    <div>
        <h1> {{ blogs.titulo }}</h1>
    
        <div class="portada">
            <img  [src]="blogs.imagen" alt="Imagen de Blog" />
            </div>
    
        <ul class="iconos">
            <li>
                <img src="../../../../../../assets/img/like.png" alt="img">
                <p>283</p>
    
                <img src="../../../../../../assets/img/dislike.png" alt="img">
                <p>283</p>
    
                <img src="../../../../../../assets/img/comentarios.png" alt="img">
                <p>283</p>
            </li>
            
            <li>
                <img id="btn-abrir-popup" class="edit" (click)="editar()" src="../../../../../../assets/img/edit.png" alt="img">
                <img class="delete" src="../../../../../../assets/img/delete.png" alt="img">
            </li>
        </ul>
    
        <ul class="iconos user">
            <li>
                <img src="../../../../../../assets/img/user.png" alt="img">
                <h1>{{ blogs.nombre_autor }} {{ blogs.apellido_autor }}</h1>
            </li>
            <li>
                {{ blogs.fecha | date: 'dd-MM-yyyy' }}
            </li>
        </ul>
        
        <div class="parrafos">
            {{ blogs.parrafo }}

            <h3><br>Bibliografia</h3>
            {{ blogs.bibliografia }}
        </div>

        <div class="contenedor-comentarios">
            <h2>Comentarios:</h2>
            <div class="comentario">
                <ul class="iconos user">
                    <li>
                        <img src="../../../../../../assets/img/user.png" alt="img">
                        <h1>{{ blogs.nombre_autor }} {{ blogs.apellido_autor }}</h1>
                    </li>
                </ul>
                date: 'dd-MM-yyyy'date: 'dd-MM-yyyy'date: 'dd-MM-yyyy'date: 'dd-MM-yyyy'date: 'dd-MM-yyyy'date: 'dd-MM-yyyy'date: 'dd-MM-yyyy'date: 'dd-MM-yyyy'date: 'dd-MM-yyyy'date: 'dd-MM-yyyy'date: 'dd-MM-yyyy'date: 'dd-MM-yyyy'date: 'dd-MM-yyyy'date: 'dd-MM-yyyy'date: 'dd-MM-yyyy'date: 'dd-MM-yyyy'date: 'dd-MM-yyyy'</div>
            <div class="comentario">
                <ul class="iconos user">
                    <li>
                        <img src="../../../../../../assets/img/user.png" alt="img">
                        <h1>{{ blogs.nombre_autor }} {{ blogs.apellido_autor }}</h1>
                    </li>
                </ul>
                date: 'dd-MM-yyyy'date: 'dd-MM-yyyy'date: 'dd-MM-yyyy'date: 'dd-MM-yyyy'date: 'dd-MM-yyyy'date: 'dd-MM-yyyy'date: 'dd-MM-yyyy'date: 'dd-MM-yyyy'date: 'dd-MM-yyyy'date: 'dd-MM-yyyy'date: 'dd-MM-yyyy'date: 'dd-MM-yyyy'date: 'dd-MM-yyyy'date: 'dd-MM-yyyy'date: 'dd-MM-yyyy'date: 'dd-MM-yyyy'date: 'dd-MM-yyyy'</div>

            <input id="btn-abrir-popup-comentario" type="submit" value="Deja tu comentario">
        </div>
    </div>
    

    <!-- Comentar -->
    <div class="overlay" id="overlay-comentario">
        <form class="formulario" id="popup-comentario" method="post">
            <div class="header-form">
                <h1>Deja tu Comentario</h1>
                <a id="btn-cerrar-popup-comentario"><i class="fas fa-times"></i></a>
                </div>
            <label for="nombre-comentario">Tu Nombre y Apellido:</label>
            <input type="text" id="nombre-comentario" name="nombre" placeholder="Eg: Pedro Campoverde" [(ngModel)]="nombre"
                required>
        
            <label for="comentario">Comentario:</label>
            <textarea id="comentario" name="comentario" rows="5" [(ngModel)]="comentario" required></textarea>
        
            <input id="publicar" type="submit" value="Enviar Comentario" (click)="guardarComentario()">
        </form>
    </div>

    <!-- Editar -->

    <div class="overlay" id="overlay">
        <form class="formulario" id="popup" action="procesar_comentario.php" method="post">
            <div class="header-form">
                <h1>Editar tu Blog</h1>
                <a id="btn-cerrar-popup"><i class="fas fa-times"></i></a>
            </div>
            <div id="fecha"></div>

            <label for="titulo">Título:</label>
            <!-- <input type="text" id="titulo" name="titulo" placeholder="Título del blog" [(ngModel)]="titulo" required> -->

            <label for="titulo">Imagen:</label>
            <!-- <input type="file" (change)="onFileSelected($event)" accept="image/*">
            <img [src]="imageSrc" *ngIf="imageSrc" alt="imageUpload"> -->

            <label for="nombre">Nombre:</label>
            <!-- <input type="text" id="nombre" name="nombre" placeholder="Nombre del Autor" [(ngModel)]="nombre_autor" required> -->

            <label for="apellido">Apellido:</label>
            <!-- <input type="text" id="apellido" name="nombre" placeholder="Apellido del Autor" [(ngModel)]="apellido_autor" required> -->
    
            <label for="e-mail">Email:</label>
            <!-- <input type="email" id="e-mail" name="e-mail" placeholder="Email del Autor" [(ngModel)]="email_autor" required> -->

            <label for="parrafo1-blog">Contenido del Blog:</label>
            <!-- <textarea class="textarea-auto" id="parrafo1-blog" name="parrafo1-blog" placeholder="Escriba el contenido del Blog" [(ngModel)]="parrafo" required></textarea> -->

            <label for="parrafo3-blog">Bibliografia:</label>
            <!-- <textarea class="textarea-auto" id="parrafo3-blog" name="parrafo3-blog" placeholder="Escriba la Bibliografia del Blog" [(ngModel)]="bibliografia"></textarea> -->

            <div class="botones-form-blog">
                <!-- <input id="publicar" type="submit" value="Publicar" (click)="publicarBlog()">
                <input id="guardar" type="submit" value="Guardar sin publicar" [(ngModel)]="visible" (click)="guardarSinPublicarBlog()"> -->
            </div>
        </form>
    </div>

</main>