<body>
    <div class="contact-us">
        <div class="contact-container">
            <div class="contact-header">
                <h1>Contactanos</h1>
            </div>
            <div class="contact-body">
                <div class="contact-info">
                    <h2>Estamos aquí para atenderte</h2>
                    <span>No dudes en ponerte en contacto con nosotros a través de mensaje o llamada para compartir tus
                        preguntas o comentarios.</span>
                </div>
                <div class="form-contact">
                    <form class="contact-us-form">
                        <h2>Contactanos</h2>
                        <div class="form-floating">
                            <label for="">Nombre Completo</label>
                            <input type="text">
                        </div>
                        <div class="form-floating">
                            <label for="">Correo Electrónico</label>
                            <input type="text">
                        </div>
                        <div class="form-floating">
                            <label for="">Numero de Teléfono</label>
                            <input type="text">
                        </div>
                        <div class="form-floating">
                            <label for="">Asunto</label>
                            <input type="text">
                        </div>
                        <div class="form-floating">
                            <label for="">Consulta o comentario</label>
                            <input type="text">
                        </div>
                        <div class="form-floating"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>