<body>
    <main class="contenedor seccion contenido-centrado">
        <h1>Nuestro Blog</h1>

        <article class="entrada-blog">
            <div class="imagen">
                <source srcset="build/img/blog1.webp" type="image/webp">
                <source srcset="build/img/blog1.jpg" type="image/jpeg">
                <img loading="lazy" src="build/img/blog1.jpg" alt="Texto Entrada Blog">
            </div>

            <div class="texto-entrada">
                <a href="entrada.php">
                    <h4>Blog1</h4>
                    <p class="informacion-meta">Escrito el: <span>20/10/2023</span> por: <span>Admin</span></p>

                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod provident repellat nisi delectus, harum, animi atque numquam sunt ratione sequi natus vel libero commodi, quisquam recusandae nemo dolores exercitationem eius.
                    </p>
                </a>
            </div>
        </article>

        <article class="entrada-blog">
            <div class="imagen">
                <source srcset="build/img/blog2.webp" type="image/webp">
                <source srcset="build/img/blog2.jpg" type="image/jpeg">
                <img loading="lazy" src="build/img/blog2.jpg" alt="Texto Entrada Blog">
            </div>

            <div class="texto-entrada">
                <a href="entrada.php">
                    <h4>Blag2</h4>
                    <p class="informacion-meta">Escrito el: <span>20/10/2023</span> por: <span>Admin</span></p>

                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam ullam repellendus dicta voluptates eius esse fugit consequatur explicabo libero, sint neque pariatur similique illo dolor quibusdam distinctio assumenda nihil nemo?                      
                    </p>
                </a>
            </div>
        </article>

        <article class="entrada-blog">
            <div class="imagen">
                <source srcset="build/img/blog3.webp" type="image/webp">
                <source srcset="build/img/blog3.jpg" type="image/jpeg">
                <img loading="lazy" src="build/img/blog3.jpg" alt="Texto Entrada Blog">
            </div>

            <div class="texto-entrada">
                <a href="entrada.php">
                    <h4>Blog3</h4>
                    <p class="informacion-meta">Escrito el: <span>20/10/2023</span> por: <span>Admin</span></p>

                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit iusto laudantium exercitationem obcaecati sequi impedit, voluptatum porro eum debitis? Excepturi animi error, autem placeat ea distinctio laudantium esse rem dolorem.
                    </p>
                </a>
            </div>
        </article>

        <article class="entrada-blog">
            <div class="imagen">
                <source srcset="build/img/blog4.webp" type="image/webp">
                <source srcset="build/img/blog4.jpg" type="image/jpeg">
                <img loading="lazy" src="build/img/blog4.jpg" alt="Texto Entrada Blog">
            </div>

            <div class="texto-entrada">
                <a href="entrada.php">
                    <h4>Blog4</h4>
                    <p class="informacion-meta">Escrito el: <span>20/10/2023</span> por: <span>Admin</span></p>

                    <p class="informacion-meta">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. In porro consequuntur recusandae. Necessitatibus hic enim mollitia consectetur debitis, in at blanditiis ut ea, alias nulla, minus eum sed tempora pariatur.
                    </p>
                </a>
            </div>
        </article>

    </main>
    
</body>